.days {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #595e64;
  border: 1px solid #595e64;
  border-radius: 6px;
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 2px;
}

.days div {
  margin-right: 3px;
}