.statistics__title {
  margin-bottom: 20px;
}

.statistics__slider {
  display: flex;
}

.statistics__cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.statistics__cell-name {
  width: 150px;
  overflow-wrap: break-word;
}

.statistics__cell-level {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.statistics__item {
  margin-top: auto;
  width: 35px;
  min-height: 15px;
  background: #4BB34B;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
