.top-user {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

.top-user__avatar {
  position: relative;
  padding: 3px;
  border-radius: 100%;
  border: 3px solid #000;
  margin-bottom: 10px;
}

.top-user__avatar_first {
  border: 4px solid #ffd54f;
}

.top-user__avatar_second {
  border: 4px solid #b0bec5;
}

.top-user__avatar_third {
  border: 4px solid #ffa726;
}



.top-user__avatar::before {
  position: absolute;
  left: -4px;
  bottom: -9px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 114%;
  color: #fff;
  background: #000;
}

.top-user__avatar_first::before {
  content: "1";
  background: #ffd54f;
  left: -1px;
  bottom: -2px;
}

.top-user__avatar_second::before {
  content: "2";
  background: #b0bec5;
}

.top-user__avatar_third::before {
  content: "3";
  background: #ffa726;
} 

.top-user__name {
  font-weight: 600;
  font-size: 16px;
  line-height: 114%;
  text-align: center;
  color: currentColor;
  white-space: nowrap; 
}

.top-user__name_first {
  color: #ffd54f;
}

.top-user__name_second {
  color: #b0bec5;
}

.top-user__name_third {
  color: #ffa726;
}

.top-user__name + .top-user__name {
  margin-bottom: 5px;
}

.top-user__score {
  font-weight: 600;
  font-size: 13px;
  line-height: 114%;
  color: #99A2AD;
}