.user__avatar {
  position: relative;
  margin-right: 20px;
}

.user__score {
  position: absolute;
  right: -5px;
  bottom: -5px;
  width: 25px;
  height: 25px;
  color: #000;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 2px 8px rgb(0 0 0 / 14%);
  font-weight: 600;
  font-size: 12px;
  line-height: 114%;
}